* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.navContainer {
  display: flex;
  min-height: 50px;
  background: #fff;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.horinBars {
  display: none;
}
.nav-toogle {
  display: none;
}

.navContainer img {
  padding-left: 50px;
}

.listItems {
  justify-content: center;
  padding-right: 50px;
}

.navLinks {
  list-style: none;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  color: #000;
  padding-left: 20px;
  align-items: center;
}

.logo {
  width: 200px;
  object-fit: cover;
}

.heroContainer {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -999px;
}
.heroimage {
  height: 500px;
  object-fit: cover;
  width: 100%;
  z-index: -999px;
}
.heroContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroContent h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  bottom: 20px;
}
.heroContentHeader {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.buttonContainer {
  margin-top: 30px;
}
.leftButton {
  padding: 10px 30px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
}

.rightButton {
  padding: 10px 30px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
}
.phoneHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: -300px;
}
.phoneHeaderimg {
  object-fit: cover;
  z-index: 99;
  width: 60%;
}
.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}
.middleLine {
  background-color: grey;
  height: 2px;
  width: 12px;
  width: 500px;
}
.middleHeader {
  color: black;
  text-transform: capitalize;
  padding-top: 30px;
}
.creatAccountSession {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.leftSesion {
  margin-left: 0px;
  object-fit: cover;
  margin-top: -50px;
}
.rightSession {
  margin-right: 100px;
}
.linkHeader {
  color: orangered;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 10px;
}
.theHeader {
  color: black;
  font-size: 35px;
  font-weight: bold;
}
.descpara {
  color: gray;
  font-size: 20px;
  padding-top: 10px;
}
.exploreSession {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: -180px;
}
.exploreContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-top: -100px; */
  /* margin: auto; */
}

.leftExploreSession {
  margin-left: 100px;
}

.exploreLinkHeader {
  color: orangered;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 10px;
}
.exploreHeader {
  color: black;
  font-size: 35px;
  font-weight: bold;
}
.descexplore {
  color: gray;
  font-size: 20px;
  padding-top: 10px;
}
.rightExploreSession img {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-left: 300px;
}
.checkoutSession {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -180px;
}
.rightCheckoutSession {
  margin-right: 100px;
}
.checkoutLink {
  color: orangered;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 10px;
}
.theCheckoutHeader {
  color: black;
  font-size: 35px;
  font-weight: bold;
}
.descparaCheckout {
  color: gray;
  font-size: 20px;
  padding-top: 10px;
}
/* <img src={footerimg} alt="" className='footerImage' /> */
.heroContainerFooter {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -999px;
}
.footerheroContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerheroContent h6 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  bottom: 20px;
}
.downloadAppDesc {
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}
.leftButtonFooter {
  padding: 10px 30px;
  background-color: orangered;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.rightButtonFooter {
  padding: 10px 30px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid white;
  color: orangered;
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.footerSession {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logoFooterSession img {
  width: 70%;
  object-fit: cover;
  cursor: pointer;
}
.footerIcon {
  font-size: 25px !important;
  margin-right: 30px;
  color: rgb(233, 62, 50);
  cursor: pointer;
}
.copyrightSession p {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

/* responsiveness styling  */

/* @media screen and (min-width: 768px) and (max-width: 1023px){ */
@media screen and (max-width: 960px) {
  /* .outContainer {
   
  } */

  .navContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
  }

  .navContainer img {
    width: 40%;
    object-fit: cover;
  }
  .horinBars {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .nav-toogle {
    justify-content: flex-end;
    float: right;
    margin-left: 410px;
    margin-top: -20px;
    cursor: pointer;
    display: block;
    opacity: 0;
  }
  .nav-toogle:hover ~ .navItemsUl {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .listItems {
    justify-content: center;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
    position: absolute;
    z-index: 999;
  }

  .listItems ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: none;
  }
  .listItems ul li {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .heroContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fafafa;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heroimage {
    height: 500px;
    object-fit: cover;
    width: 100%;
    z-index: -999px;
    display: none;
    /* opacity: 0; */
  }

  .heroContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: -130px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heroContent h6 {
    color: black;
    font-size: 18px;
    font-weight: 300;
  }
  .heroContent h1 {
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .leftButton {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
  }
  .rightButton {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
  }
  .phoneHeaderContainer {
    display: flex;
    margin-top: -260px;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-bottom: 20px;
  }
  .phoneHeaderimg {
    object-fit: cover;
    z-index: 99;
    width: 120%;
  }
  .middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .middleContainer h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .middleLine {
    background-color: grey;
    height: 2px;
    width: 12px;
    width: 300px;
  }

  /* this is the start of the create session  */
  .creatAccountSession {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    height: 500px;
    margin: auto;
  }
  .leftSesion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* margin: auto; */
  }
  .leftSesion img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin: auto;
    margin-left: 40px;
  }
  .rightSession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    margin-top: -150px;
  }
  .rightSession h4 {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .rightSession h2 {
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .rightSession p {
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;

    /* display: none; */
  }
  /* br{
    content: "\a";
    white-space: pre;
  } */

  /* this is explore mobile version styling  */
  /* .exploreSession {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: green;
    padding-bottom: 50px;
  } */
  .exploreSession {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    height: 500px;
    margin: auto;
    margin-top: 100px;
  }
  .exploreContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: -100px;
    /* margin: auto; */
  }
  .leftExploreSession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
  }
  .leftExploreSession h4 {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .leftExploreSession h2 {
    font-size: 20px;
    text-align: center;
  }
  .leftExploreSession p {
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    /* display: none; */
  }

  .rightExploreSession img {
    width: 50%;
    align-self: center;
    margin-top: 100px;
    margin-left: 100px;
    object-fit: cover;
  }

  /* this is the checkout session trying to make it align vertically  */
  .checkoutSession {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    height: 500px;
    margin: auto;
    margin-top: 130px;
    padding-bottom: 150px;
    padding-top: 20px;
  }
  .leftCheckoutSesion img {
    width: 100%;
    align-self: center;
    margin-left: 50px;
    object-fit: cover;
  }

  .rightCheckoutSession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: -100px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .rightCheckoutSession h4 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 20px;
    align-self: center;
  }
  .rightCheckoutSession h2 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
  }
  .rightCheckoutSession p {
    font-size: 16px;
    font-weight: normal;
    color: black;
    text-align: center;
  }
  .heroContainerFooter {
    margin-top: 50px;
    background-color: #252b42;
    height: 300px;
  }
  .heroContainerFooter img {
    display: none;
  }
  .footerheroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .downloadAppDesc {
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  .leftButtonFooter:hover {
    background-color: white;
    color: black;
  }
  .rightButtonFooter:hover {
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
  }
  .footerSession {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
  }
  .footerIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .footerIcon {
    font-size: 20px !important;
  }
  .copyrightSession p {
    font-size: 14px;
  }
}
